@import "../variables";
@import "../themes";

.autocomplete {
  &.k-autocomplete {
    flex: 1;
  }
}

.k-list-scroller{
  .k-list{
    z-index: 10003 !important;
    .k-state-focused{
      @include themed() {
        background-color:rgba(color($primary), 0.5) !important;
        color: color($secondarylight);
      }
    }
  }
}

.k-animation-container{
  z-index: 10001 !important;
}