@import "../variables";
@import "../themes";

.k-multiselect {
  height: auto !important;
  .k-multiselect-wrap {
    padding: 0;
    .k-searchbar {
      width: 100%;
    }
    ul {
      li {
        background-image: none;
        border-radius: 5px;
        margin: 3px 5px 1px 5px;
        @include themed() {
          border-color: rgba(color($secondarydarker), 0.40);
          background-color: rgba(color($secondarymedium), 0.50);
          color: color($text-color);
        }
      }
     &+.k-searchbar {
      input {
        border-bottom: 0px !important;
      }
     }
    }
  }
}
