@import "../variables";
@import "../themes";

.numerictextbox {
  display: flex;
  flex: 1;

  .k-numerictextbox {
    flex: 1;
  }

  &.disabled-field {
    .k-numerictextbox {
      @include themed() {
        background-color: color($secondarylight) !important;
      }
    }
  }
}