$themes: (
  default: (
    basicwhite: #fff,
    secondarylight: #f6f6f6,
    secondarymedium: #e2e2e2,
    secondarydarker: #26323e,
    secondarydark: #2d3d4d,
    secondary: #9e9e9e,
    primary: #1565c0,
    primarydark: #115497,
    primarylight: #2d82c6,
    basicred: #1565c0,
    menudark: #26323e,
    menubasic: #2d3d4d,
    required: #ffb540,
    navbar: #1565c0,
    navbardark: #115497,
    navbarlight: #2d82c6,
    navbartext: #fff,
    primary-light: #fff,
    primary-dark: #1565c0,
    primary-nav: #2d87e2,
    primary-sticky: #8ab2df,
    primary-sticky-light: #b8d0ec,
    secondary-light: #636164,
    secondary-dark: #373a46,
    tertiary-light: #fff,
    tertiary: #edeef0,
    tertiary-dark: #aab1b7,
    zaznamy-nevybaveny-po-lehote-background: #ffe9e9,
    zaznamy-interne: #d7f1ff,
    zaznamy-nevybaveny-po-lehote: #ed1c24,
    zaznamy-vybaveny-po-lehote: #ffd9d9,
    zaznamy-selected: #e6f5ff,
    background-color: #edeef0,
    background-light: #fff,
    text-color: #656565,
    icon-color: #2d87e2,
    alert-ok: #c6f7b3,
    alert-error: #fca4a4,
    alert-ok-text: #1b5f00,
    alert-error-text: #8a0000,
    alert-warning: #faf280,
    alert-warning-text: #ff9900,
    validation-error: #ed1c24
  ),
  dark: (
    basicwhite: #333333,
    secondarylight: #1a1a1a,
    secondarymedium: #777777,
    secondarydarker: #dddddd,
    secondarydark:  #bbbbbb,
    secondary: #9e9e9e,
    primary: #ffb540,
    primarydark: #ff9222,
    primarylight: #e86a0a,
    basicred: #f46464,
    menudark: #242424,
    menubasic: #2c2c2c ,
    navbar: #2c2c2c,
    navbardark: #242424,
    navbarlight: #444444,
    navbartext: #dddddd,
    required: #e68141,
    primary-light: #fff,
    primary-dark: #ed9100,
    primary-nav: #404040,
    primary-sticky: #FFDA9F,
    primary-sticky-light: #FFE9C5,    
    secondary-light: #404040,
    secondary-dark: #363636,
    tertiary-light: #404040,
    tertiary:  #30343d,
    tertiary-dark: #aab1b7,
    // zaznamy-nevybaveny-po-lehote-background: #30343d,
    // zaznamy-interne: #30343d,
    // zaznamy-nevybaveny-po-lehote: #2d87e2,
    // zaznamy-vybaveny-po-lehote: #30343d,
    // zaznamy-selected: #e6f5ff,
    background-color: #303030,
    background-light: #404040,
    text-color: #ebebeb,
    icon-color: #2d87e2,
    alert-ok: #c6f7b3,
    alert-error: #fca4a4,
    alert-ok-text: #1b5f00,
    alert-error-text: #8a0000,
    alert-warning: #faf280,
    alert-warning-text: #ff9900,
    validation-error: #ed1c24
  )  ,
  pink: (
    basicwhite: #fff,
    secondarylight: #f6f6f6,
    secondarymedium: #e2e2e2,
    secondarydarker: #26323e,
    secondarydark: #2d3d4d,
    secondary: #9e9e9e,
    primary: #ff00bf,
    primarydark: #cc0099,
    primarylight: #ff99e6,
    basicred: #ff0066,
    menudark: #330026,
    menubasic: #4d0039,
    required: #ffb540,
    navbar: #ff00bf,
    navbardark: #cc0099,
    navbarlight: #ffb3ec,
    navbartext: #fff,
    primary-light: #fff,
    primary-dark: #cc0099,
    primary-nav: #ff00bf,
    primary-sticky: #FF7FDF,
    primary-sticky-light: #FFB2EC,    
    secondary-light: #636164,
    secondary-dark: #373a46,
    tertiary-light: #fff,
    tertiary: #edeef0,
    tertiary-dark: #aab1b7,
    zaznamy-nevybaveny-po-lehote-background: #ffe9e9,
    zaznamy-interne: #d7f1ff,
    zaznamy-nevybaveny-po-lehote: #ed1c24,
    zaznamy-vybaveny-po-lehote: #ffd9d9,
    zaznamy-selected: #e6f5ff,
    background-color: #edeef0,
    background-light: #fff,
    text-color: #656565,
    icon-color: #ff00bf,
    alert-ok: #c6f7b3,
    alert-error: #fca4a4,
    alert-ok-text: #1b5f00,
    alert-error-text: #8a0000,
    alert-warning: #faf280,
    alert-warning-text: #ff9900,
    validation-error: #ed1c24
  ),
  army: (
    basicwhite: #3e2723,
    secondarylight: #5f4339,
    secondarymedium: #be9c91,
    secondarydarker: #f7c9ba,
    secondarydark:  #d4c4bf,
    secondary: #8d6e63,
    primary: #2e7d32,
    primarydark: #60ad5e,
    primarylight: #00600f,
    basicred: #f46464,
    menudark: #263b1e,
    menubasic: #28461c ,
    navbar: #065109,
    navbardark: #043305,
    navbarlight: #005502,
    navbartext: #ffffff,
    required: #07960f,
    primary-light: #00600f,
    primary-dark: #60ad5e,
    primary-nav: #404040,
    primary-sticky: #96C298,
    primary-sticky-light: #C8DFC9,    
    secondary-light: #5f4339,
    secondary-dark: #d4c4bf,
    tertiary-light: #42533c,
    tertiary:  #203319,
    tertiary-dark: #1f4b0f,
    background-color: #303030,
    background-light: #404040,
    text-color: #ffffff,
    icon-color: #08a810,
    alert-ok: #c6f7b3,
    alert-error: #fca4a4,
    alert-ok-text: #1b5f00,
    alert-error-text: #8a0000,
    alert-warning: #faf280,
    alert-warning-text: #ff9900,
    validation-error: #ed1c24
  ), 
  underwater: (
    basicwhite: #333333,
    secondarylight: #1a1a1a,
    secondarymedium: #777777,
    secondarydarker: #dddddd,
    secondarydark:  #bbbbbb,
    secondary: #9e9e9e,
    primary: #1565c0,
    primarydark: #115497,
    primarylight: #2d82c6,
    basicred: #1565c0,
    menudark: #26323e,
    menubasic: #2d3d4d,
    navbar: #1565c0,
    navbardark: #115497,
    navbarlight: #2d82c6,
    navbartext: #dddddd,
    required: #e68141,
    primary-light: #fff,
    primary-dark: #1565c0,
    primary-nav: #2d87e2,
    primary-sticky: #8ab2df,
    primary-sticky-light: #b8d0ec, 
    secondary-light: #404040,
    secondary-dark: #363636,
    tertiary-light: #404040,
    tertiary:  #30343d,
    tertiary-dark: #aab1b7,
    background-color: #303030,
    background-light: #404040,
    text-color: #ebebeb,
    icon-color: #2d87e2,
    alert-ok: #c6f7b3,
    alert-error: #fca4a4,
    alert-ok-text: #1b5f00,
    alert-error-text: #8a0000,
    alert-warning: #faf280,
    alert-warning-text: #ff9900,
    validation-error: #ed1c24
  )
);

@mixin themed() {
  @each $theme, $map in $themes {
    .theme-#{$theme} & {
      $theme-map: () !global;
      @each $key, $submap in $map {
        $value: map-get(map-get($themes, $theme), '#{$key}');
        $theme-map: map-merge($theme-map, ($key: $value)) !global;
      }
      @content;
      $theme-map: null !global;
    }
  }
}

@function color($key) {
  @return map-get($theme-map, $key);
}